.fields-container {
  margin-top: 10px;

  .title {
    text-transform: uppercase;
    color: #a0a0a0;
    padding-bottom: 0.25rem;
    font-size: 0.75rem;
    font-weight: 400;
  }

  .field-item {
    display: flex;
    cursor: pointer;
    color: inherit;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-color: #f7f7f7;

    .controls-container {
      justify-self: flex-end;
      margin-left: auto;
    }

    &.inactive {
      color: #999999;
    }
  }

  .inner-scroll {
    overflow-y: auto;
    max-height: 24rem;
    padding-right: 0.5rem;
    margin-right: -0.5rem;
  }
}