.segments-container {
  margin-top: 10px;

  .title {
    text-transform: uppercase;
    color: #a0a0a0;
    padding-bottom: 0.25rem;
    font-size: 0.75rem;
    font-weight: 400;
  }

  .segment-item {
    margin-bottom: 2px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 5px;

    &.inactive {
      opacity: 0.5;
    }

    .segment-header {
      margin-top: 3px;
      display: flex;
      flex-direction: row;
      gap: 5px;

      .remove {
        margin-left: auto;
      }
      .icon, .remove {
        cursor: pointer;
        color: #999999;
        &:hover {
          color: #666666;
        }
      }
    }

    .segment-categories {
      list-style: none;
      padding-left: 0;
      margin: 10px 15px;
      li {
        padding: 2px;
      }
    }
  }
}