.body {
  --textarea-height: 150px;

  &.p-6 {
    padding: 1.6rem;
  }

  label {
    margin-bottom: 5px;
    margin-left: 4px;
    display: block;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.05em;
    line-height: normal;
    color: rgb(119, 119, 119);
  }

  .report-description {
    margin-top: 10px;
  }
}